<p>
  You haven't created your shop yet. PLease create your shop based on the
  category of product you want to sell.
</p>


<%= link_to 'Create Your Shop', new_partner_shop_path, class: 'btn btn-primary' %><br>
